{% extends "base.html" %}
{% block content %}
<div style="padding: 10px;"><a href="{% url 'task-create' %}" class="btn btn-outline-secondary">Create a New Task</a></div>
  {% for task in tasks %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ task.author.profile.image }}"
        <div class="media-body" >
          <div class="article-metadata" >
            <h2><a class="article-title" href="{% url 'task-detail' task.id %}">{{ task.task_name }}</a></h2>
            <a class="mr-2" href="#">{{ task.description }}</a>
              by
            <small class="text-muted">{{ task.completion_date }}</small>
          </div>
            
          <p class="article-content">{{ task.full_name }}</p>
        </div>
      </article>
  {% endfor %}
{% endblock content %}