{% extends "base.html"%}

    {% block content %}

    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Error</h3>
            <div class="card-text text-center">
                Please try again
            </div>
            <div class="text-center">
            <a class="btn btn-primary text-center" href="{% url 'register' %}">Register</a>
        </div>
        </div>
    </div>
    </div>

    {% endblock %}